body {
    font-family: "Open Sans" , sans-serif;
    color: #ffffff;
}

html body{
    background: #171717;
    color: #ffffff;
}

/**** CURSOR ******/
#cursor {
    position: fixed;
    border: solid 1px rgb(25, 131, 249);
	width: 60px; 
	height: 60px; 
    border-radius: 50%;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 550px){
    #cursor {
        display: none;
    }
}



/* ----- HEADER ------ */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

@media (max-width: 991px) {
    #header {
        width: 300px;
        background: #282727;
        border-right: 1px solid #e6e9ec;
        left: -300px;
    }
}

@media (min-width: 991px) {
    #main {
        margin-left: 100px;
    }
}


/* ----- NAVIGATION MENU ------ */

.nav-menu {
    padding: 0;
    display: block !important;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a, .nav-menu a:focus{
    display: flex;
    align-items: center;
    color: #45505b;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #dfeaff;
    height: 56px;
    width: 100%;
    overflow: hidden;
    padding: 10px 18px;
}

.nav-menu a i, .nav-menu a:focus i {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: #fff;
    background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}

@media (min-width: 992px) {
    .nav-menu a,
    .nav-menu a:focus {
        width: 56px;
    }
    .nav-menu a span,
    .nav-menu a:focus span {
        display: none;
        color: #fff;
    }
}




/* ------ MOBILE NAVIGATION --------- */
.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
}

.mobile-nav-toggle i {
    color: #45505b;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
    color:#fff;
    background-color: #0563bb;
}

/****** HERO SECTION ****/
#hero {
    width: 100%;
    height: 100vh;
    background: url(./images/IMG_0224\ 2.jpg) right top no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

@media (min-width: 992px) {
    #hero {
      padding-left: 160px;
      background-position: right top;
    }
  }

#hero::before {
    content: "";
    background: rgba(21, 22, 25, 0.68);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0;
    font-size: 66px;
    font-weight: 700;
    line-height: 56px;
    color: #8eb4ff;
    text-shadow: 0px 0px 5px #1d2e5a, 0px 0px 10px #040c1c, 0px 0px 10px #4061a1, 0px 0px 20px #11151f;
}

#hero p {
    color: #8eb4ff;
    margin: 15px 0 0 0;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: #0563bb;
    letter-spacing: 1px;
}

#hero .social-links {
    margin-top: 30px;
}

#hero .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #8eb4ff;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
    position: relative;
    z-index: 9997;
}

@media (max-width: 992px){
    #hero p {
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
    }
}
@media(max-width: 992px){
    #hero h1{
        font-size: 32px;
        line-height: 36px;
    }
}

@media (max-width: 992px){
    #hero {
        text-align: center;
        background-position: top;
    }
}

/****** SECTION ******/
section {
    padding: 50px 0;
    overflow: hidden;
}

.section-title {
    height: auto;
    width: 100%; 
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
    color: #ffffff;
}

@media (max-width: 550px){
    .section-title h2 {
        font-size: 40px;
    }
}

.section-header {
    height: auto;
    width: 100%;
    text-align: center;
    position: relative;
}
.section-title .section-header::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px)
}

.section-title .section-header::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #ff1c1c;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-title p {
    margin-bottom: 0;
}

.section-caption {
    opacity: .9;
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

/****** ABOUT ***/

#about {
    margin-top: 50px;
}
.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    flex-direction: row;
    margin-bottom: 50px;
}

@media only screen and (max-width: 500px){
    .about-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        padding: 10px;
        flex-direction: column-reverse;
    }
}
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #728394
}

@media only screen and (max-width: 550px){
    .about-img {
        width: 100%;
        height: 350px;
        text-align: center;
        overflow: hidden;
        border-radius: 10%;
    }
}


.about-img {
    margin: auto;
}

@media (min-width: 992px){
    .about-img {
        width: 80%;
    }
}

@media (min-width: 551px) and (max-width: 991px){
    .about-img {
        width: 50%;
    }
}

.about-img img {
    border-radius: 40px;
}

@media only screen and (max-width: 550px){
    .about-img img {
        width: 280px;
        height: 300px;
        padding: 5px;
        border-radius: 50%;
    }

}

.about-first-paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 500px){
    .about-first-paragraph {
        font-size: 20px;
        width: 95%;
        font-weight: 400;
        margin: auto;
        text-align: center;
    }
}

.about-first-line {
    font-size: 40px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.about-second-line {
    font-size: 20px;
    font-weight: 300;
}

@media only screen and (max-width: 550px){
    .about-first-line {
        font-size: 25px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
    }
}

.about-color {
    color: #368fff;
    transition: all .4s ease;
}

.cv a {
    font-size: 15px;
    position: relative;
    z-index: 9999;
    margin: 25px;
}
.cv span {
    vertical-align: text-bottom;
}

/******* SERVICES **********/

.services-main {
    height: auto;
    width: 100%;
    overflow: hidden;
    padding: 2.5%;
}

.services {
    height: auto;
    width: auto;
    margin-bottom: 50px;
    position: relative;
}

.services p {
    text-align: center;
}

.services.color-1{ 
    box-shadow: inset 0 0 0 0 #2c98f0;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-bottom: 2px solid #2c98f0;
}

.services.color-1:hover {
    box-shadow: inset 0 0 0 300px #2c98f0;
    color: white;
}

.services.color-2 {
    box-shadow: inset 0 0 0 0 #ec5453;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    border-bottom: 2px solid #ec5453;
}

.services.color-2:hover {
    box-shadow: inset 0 0 0 300px #ec5453;
    color: white;
}

.services.color-3 {
    box-shadow: inset 0 0 0 0 #f9bf3f;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-bottom: 2px solid #f9bf3f;
}

.services.color-3:hover {
    box-shadow: inset 0 0 0 300px #f9bf3f;
    color: white;
}

.services.color-4 {
    box-shadow: inset 0 0 0 0 #a84cb8;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-bottom: 2px solid #a84cb8;
}

.services.color-4:hover {
    box-shadow: inset 0 0 0 300px #a84cb8;
    color: white;
}

.services .icon2 {
    display: block;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}

@media only screen and (min-device-width: 760px) and (max-device-width: 990px){
    .services .icon2 i {
        width: 70% !important;
    }
}

@media only screen and (min-width: 760px) and (max-width: 990px){
    .services .icon2 i {
        width: 70% !important;
    }
}

.services.color-1 .icon2 i {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 0px solid #2c98f0;
    background: #2c98f0;
    height: auto;
    width: 40%;
    border-radius: 30%;
    text-align: center;
    transition: all .8s ease;
    color: #fff;
    animation: opacity 1.4s ease;
}


.services.color-2 .icon2 i {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 0px solid #ec5453;
    background: #ec5453;
    height: auto;
    width: 40%;
    border-radius: 30%;
}

.services.color-3 .icon2 i {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 0px solid #f9bf3f;
    background: #f9bf3f;
    height: auto;
    width: 40%;
    border-radius: 30%;
}

.services.color-4 .icon2 i {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 0px solid #a84cb8;
    background: #a84cb8;
    height: auto;
    width: 40%;
    border-radius: 30%;
}

.services h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}

/* ------- SKILL --------- */
#skills {
    color: white;
}


.skills-icons img{
    height: 80px;
    width: 80px;
    padding: 5px;
    
}

.skills-icons i {
    font-size: 80px;
    padding: 5px;
    vertical-align: middle;
    
}
 .vr {
    margin-top: 50px;
 }

 @media (max-width: 992px) {
    .vr {
      display: none !important; /* This is how it looks on desktop */
    }
  }

  @media (max-width: 992px){
    .vr-mobile {
        margin: -20px !important;
        height: 0 !important;
    }
  }

@media only screen and (min-width: 960px){
    .skills-desc .skills-icons{
        display: flex;
        justify-content: space-around;
        padding-bottom:  50px;
        height: auto;
        width: auto;
    }
}

@media only screen and (max-width: 700px){
    .skills-desc .skills-icons{
        display: flex;
        justify-content: space-around;
        padding-bottom:  50px;
        height: auto;
        width: auto;
    }
}




@media only screen and (min-width: 992px){
    .skills-bottom-border {
        border-bottom: 1px solid rgba(80, 80, 80, 1);
    }
}


.skills-desc h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/******* RESUME ********/

.resume .resume-title {
    font-size: 26px ;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #dce0e8;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #0563bb;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #ff6565;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #0563bb;
}

/***** PORTFOLIO *********/
.img-fluid {
    max-width: 100%;
    height: auto;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before{
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #dce0e8;
    border-left: 3px solid #dce0e8;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #dce0e8;
    border-right: 3px solid #dce0e8;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #45505b;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #45505b;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }

  .portfolio .portfolio-wrap .portfolio-links a {
    color: #45505b;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }

  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #148af9;
  }

  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info::before {
    top: 15px;
    left: 15px;
  }

  .portfolio .portfolio-wrap:hover .portfolio-info::after {
    bottom: 15px;
    right: 15px;
  }
  
  /****** PORTFOLIO DETAILS  *********/

  .portfolio-details {
    padding-top: 40px;
  }

  .portfolio-details .portfolio-details-slider img {
    width: 100%;
  }

  .portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #0563bb;
  }
  
  .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0563bb;
  }
  
  .portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
  }
  
  .portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
  }
  
  .portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
  }
  
  .portfolio-details .portfolio-description {
    padding-top: 30px;
  }
  
  .portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .portfolio-details .portfolio-description p {
    padding: 0;
  }

  /****** SWIPER  *******/

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /******* CONTACT ********/
  #contact {
    position: relative;
    z-index: 9999;
  }
  /* Left contact page */
.form-horizontal {
    /*float: left;*/
    max-width: 600px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 600px;
    background-color: #000 !important;
    color: #fff !important;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }

  @media only screen and (max-width: 550px){
    .alt-send-button {
        width: 100%;
    }
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }

  /* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    
  }

  @media only screen and (min-width: 992px){
    .contact-list {
        margin-left: -30px;
    padding-right: 20px;
    }
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px "Lato", sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }

  @media only screen and (max-width: 550px){
    .contact-text {
        font-size: 16px;
    }
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }

  @media only screen and (max-width: 550px){
    .gmail {
        margin-left: 30px;
    }
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }

  .list-item i {
    font-size: 20px;
  }

  .form-group {
    padding-bottom: 15px;
  }

  /* Begin Media Queries*/
@media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container,
    .form-horizontal {
      margin: 0 auto;
    }
  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }
  }
  
  @media screen and (max-width: 569px) {
    .direct-contact-container,
    .form-wrapper {
      float: none;
      margin: 0 auto;
    }
    .form-control,
    textarea {
      margin: 0 auto;
      width: 85% !important;
    }
  
    .name,
    .email,
    textarea {
      width: 280px;
    }
  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }

  /******* FOOTER  ******/

  #footer {
    background: #737985b0;
    color: #fffbfbb5;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }

  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
  }

  #footer p {
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }

  #footer .social-links {
    margin: 0 0 40px 0;
  }

  #footer .social-links a {
    font-size: 28px;
    display: inline-block;
    background: #0563bb;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    position: relative;
    z-index: 9999;
  }

  #footer .social-links a:hover {
    background: #148af9;
    color: #fff;
  }

  /****** BACK TO TOP  ******/

  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 70px;
    bottom: 50px;
    z-index: 9999;
    background: #0563bb;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }

  .back-to-top i {
    font-size: 29px;
    color: #ddd;
    line-height: 0;
  }
  